.DS_Store
*.pyc
.vscode/settings.json
.env
/height_venv
/rde/datasets/venice-contemporary-cloudpoint/src/2025-08-24_images4interface/
/rde/datasets/venice-contemporary-cloudpoint/src/parcelsofvenice_pointcloud_images_2025-08-06
/rde/datasets/europeana-pipeline-postcards/.ipynb_checkpoints
