[submodule "data-venice"]
	path = data-venice
	url = https://github.com/epfl-timemachine/data-venice
[submodule "data-lausanne"]
	path = data-lausanne
	url = https://github.com/epfl-timemachine/data-lausanne
[submodule "time-atlas-python"]
	path = time-atlas-python
	url = https://github.com/epfl-timemachine/time-atlas-python
	shallow = true
