.DS_Store
*.pyc
.vscode/settings.json
.env
/height_venv
/rde/datasets/europeana-pipeline-postcards/.ipynb_checkpoints
/rde/datasets/**/data
/rde/datasets/**/iiif
/rde/datasets/**/datasets.json
/rde/datasets/**/historical_records.json
/rde/datasets/**/observations.json
/rde/areas/data
/rde/maps/**/**.json
rde/areas/countries_src/maptiler_key.txt
/data-production-venv
/s3_dump
rde/datasets/switzerland-qbuildings/src/qbuildings_whole_db.geojson
rde/pois/points_of_interest.json
rde/datasets/lausanne-qbuildings/src/qbuildings-lausanne.geojson
rde/datasets/europeana-pipeline-postcards/src/wam_full_results_internal.json
