[submodule "data-venice"]
	path = data-venice
	url = https://github.com/epfl-timemachine/data-venice
[submodule "data-lausanne"]
	path = data-lausanne
	url = https://github.com/epfl-timemachine/data-lausanne
