.DS_Store
*.pyc
.vscode/settings.json
.env
/height_venv
/rde/datasets/venice-contemporary-cloudpoint/src/2025-08-24_images4interface/
/rde/datasets/venice-contemporary-cloudpoint/src/parcelsofvenice_pointcloud_images_2025-08-06
/rde/datasets/europeana-pipeline-postcards/.ipynb_checkpoints
/rde/datasets/**/data
/rde/datasets/**/iiif
/rde/datasets/**/datasets.json
/rde/datasets/**/historical_records.json
/rde/datasets/**/observations.json
/rde/areas/data
/rde/maps/**/**.json
rde/areas/countries_src/maptiler_key.txt
/data-production-venv
/s3_dump
rde/datasets/lausanne-qbuildings/src/qbuildings-lausanne.geojson
rde/datasets/switzerland-qbuildings/src/qbuildings_whole_db.geojson
rde/pois/points_of_interest.json
